@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Monoton&family=Mulish:wght@400;700&display=swap');

$color-1: #EBC3DB;
$color-2: #6C6F7D;
$color-3: #985F6F;
$color-4: #4E4C67;

.mens-window {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #fff;
  font-family: "Muli", sans-serif;

  .top {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 50px;
    width: 100%;
    text-align: center;

    .mens-logo {
      position: relative;

      .p1 {
        font-family: "Monoton", sans-serif;
        font-size: 23px;
        color: $color-3;
      }

      .p2 {
        font-family: "Cinzel Decorative", sans-serif;
        font-size: 25px;
        margin-top: -10px;
        color: $color-4;
      }

      .men-avatar {
        position: absolute;
        top: 30px;
        right: 8px;
        background: url("../images/man-1.png") no-repeat center center/cover;
        height: 25px;
        width: 25px;
      }
    }
  }
}